body {
   background: url('../images/home-background.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.logo {
   width: 10em;
   height: 2em;
   margin: 2em;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: flex;
   padding: 2em 4em;
}

nav ul li {
   padding-left: 6em;
   list-style: none;
}

nav ul li a {
   text-decoration: none;
   color: white;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 1.2em;
}

.title h1 {
   color: white;
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   font-size: 4em;
   text-transform: uppercase;
   padding: 3em 1.5em 1em 1.5em;
   line-height: 1em;
}

h1 span {
   font-size: 0.8em;
   font-weight: 500;
}

.cta a {
   color: white;
   text-decoration: none;
   font-size: 1.2em;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   margin-left: 5.2em;
   padding: 0.5em 1.5em;
   border: white 1px solid;
}

.cta a:hover {
   background-color: white;
   color: black;
   transition: ease-in 0.3s;
}


